* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
}

* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em;
}

/* Bar */
#waybar {
    background-color: transparent;
    color: #c0caf5;
    border-radius: 0px;
    margin: 0px;
}

/* Hidden state */
window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    background-color: #1a1b26;
    border-radius: 14px;
    padding: 3px 6px;
}

#workspaces button {
    padding: 3px 5px;
    margin: 3px 5px;
    border-radius: 6px;
    color: #c0caf5;
    background-color: #1a1b26;
    font-size: 13px;
}

#workspaces button.active {
    background: #7aa2f7;
    color: #1a1b26;
}

#workspaces button:hover {
    background: #414868;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

/* Modules */
#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-weather,
#custom-screenshot_t,
#custom-power,
#custom-storage,
#tray {
    background-color: #1a1b26;
    border-radius: 14px;
    padding: 6px;
    color: #c0caf5;
}

/* Special modules */
#custom-launcher {
    background-color: #1a1b26;
    color: #7aa2f7;
    border-radius: 7.5px;
    padding: 3px 6px;
}

/* Consolidated module states */
#temperature.critical,
#network.disconnected,
#bluetooth.disconnected,
#battery.critical:not(.charging),
#tray > .needs-attention {
    background-color: #f7768e;
    color: #1a1b26;
}

#battery.charging,
#battery.full,
#battery.plugged,
#idle_inhibitor.activated,
#custom-media.custom-spotify,
#keyboard-state {
    background-color: #7aa2f7;
    color: #1a1b26;
}

/* Custom weather colors */
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
    color: #c0caf5;
}

/* Language / Keyboard */
#language {
    background: #7aa2f7;
    color: #1a1b26;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

/* Tray */
#tray > .passive {
   -gtk-icon-effect: dim;
}

/* Media players */
#custom-media {
    background-color: #1a1b26;
    color: #c0caf5;
    min-width: 100px;
}

/* Animations */
@keyframes blink {
    to {
        background-color: #1a1b26;
        color: #c0caf5;
    }
}

/* Margin tweaks */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
